body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
        
  background: rgb(52, 58, 64);
  
}


.pageTitle {
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 4rem;
  font-size: 4rem;
  padding-top: 1.7rem;
}


::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(233, 236, 239);
}
