body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: $cadet-blue-crayola;
  background-image: url('../../images/bg.jpg');
  
}

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

.pageTitle {
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  padding-top: 1.7rem;
}


::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(233, 236, 239);
}


.base {
  height: 70vh;
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: rgba(0, 0, 0, 0.158);

  
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(10px);
  border: solid 2px transparent;
  background-clip: padding-box;
  border-radius: 15px;

  display: flex;
  flex-direction: column;

  &__content {
    background-color: rgba(16 18 27 / 40%);
    height: 100%;
    flex: 1;
    // padding-top: 2rem;
    padding: 1.5rem;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;


  }
}