body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $cadet-blue-crayola;
  // background: #496683;
  
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 0;
}

.pageTitle {
  text-align: left;
  margin-left: 3rem;
  margin-bottom: 4rem;
  font-size: 3rem;
  padding-top: 1.7rem;
}


::-webkit-scrollbar {
  width: .5rem;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(233, 236, 239);
}
