.button {
  height: 2rem;
  width: 6rem;
  display: flex;
  padding: 1rem;
  border-radius: 2rem;
  align-items: center;
  justify-content: center;
  transition: .15s ease-in;
  color: white;
  cursor: pointer;

  &:hover {
    transform: translateY(-.2rem);
  }

  &:active {
    transform: translateY(0.1rem);
    transition: .1s ease-out;
  }


}