.card {
  height: 24rem;
  width: 16rem;
  background-color: grey;
  border-radius: 1rem;
  position: relative;
  display: flex;
  position: relative;
  flex-direction: column;
  box-shadow: -1rem 0rem 3rem #000;
  transition: .2s;
  

  &:hover {
    transform: scale(1.03) translateY(-1rem);
    transition: .2s ease-in;

    &~.card {
      transform: translateX(120px);
    }

  }

  &:not(:first-child) {
    margin-left: -120px;
  }

  &__content {
    height: 22rem;
    width: 14rem;
    position: absolute;
    margin: 1rem;

    &--title {
      font-size: 1.5rem;
      margin-top: 1rem;
      margin-bottom: 0;
    }

    &--comp {
      margin: 1rem 0;
    }

    &--desc {
      font-size: 1.1rem;
      line-height: 1.5rem;
    }


  }
}
