.card {
  height: 24rem;
  width: 16rem;
  background-color: grey;
  border-radius: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.03);
    transition: .2s ease-in;
    filter: blur(5px);

  }

  &__content {
    position: absolute;


  }
}
