.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: rgb(146 151 179 / 13%);
  border: solid 2px transparent;
  background-clip: padding-box;

  &__header:not(:first-child) {
    margin-top: 1rem;
  }
}