.imgCarousel {
  height: 60%;
}

.project__info {
  margin-top: 1rem;
  font-size: 18px;
  &--header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.previewImg {
  max-height: 45vh;
  max-width: 45vw;
}

.imgCarousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.imageScroll {
  background-color: transparent;
  outline: none;
  border: none;
  transition: all .2s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: translateY(-2px);
  }

  &__icon {
    height: 2rem;
  }
}

.imgMessage {
  margin-top: 1rem;
  text-align: center;
}