.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
  
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 3rem;
    right: 4rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;

  }


  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
  
    z-index: 1000;
    // -webkit-transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);
    // transition: transform 1s cubic-bezier(0.86, 0, 0.07, 1);

  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    -webkit-transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: right;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: white;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, 
      transparent 50%, grey 50%);
      background-size: 250%;
      transition: all .7s;

    }

    &:hover, 
    &:active {
      background-position: 100%;
      color: white;
      transform: translateX(1rem);
    }


  //   &:hover + body {
  //     filter: blur(5px);
  //   }
  }


  // Functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  // ICON

  &__icon {
    position: relative;
    margin-top: 3.3rem;

    &, 
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: grey;
      display: inline-block;
      transition: all .2s;
      
    }

    &::before, 
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
