.sidenav {
  min-height: 4rem;
  width: 100%;
  // background-color: rgba(16 18 27 / 40%);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 

  &__link {
    text-decoration: none;
    font-size: 1.2rem;
  }
}