.sectionTitle {
  // margin-left: 8rem;
  font-size: 1rem;
}

.skills {
  // height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(146 151 179 / 13%);
  padding: 1rem;
  border-radius: 10px;
  border: solid 2px transparent;
  background-clip: padding-box;

  &__title {
    margin-top: 2rem;
  }

  &__box {
    // height: 55vh;
    // width: 85vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
    &__item {
      // height: 15vw;
      // width: 20vw;
      padding: 5px 10px;
      border-radius: 5px;
      transition: .2s ease-in;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      position: relative;

      &:hover {
        box-shadow: 0 0 0.5rem white;
      }

      &--title {
        font-size: 1.5rem;
        text-align: center;
        // position: absolute;
        // bottom: 0.3rem;
        margin: 0;

        &:hover {
          cursor: default;
        }
      }

      &--img {
        max-width: 25%;
        // position: absolute;
        // top: 2rem;
        margin: 0;
      }
      
    }

  }

  
}