.project__intro {
  font-size: 18px;
  // margin: 5rem 3rem 3rem 3rem;
}

.cardDisplay {
  // margin: 5rem 3rem 0rem 3rem;
  // overflow: scroll;
}

.cards {
  // margin: 5rem 0;

  &__list {
    display: flex;
    flex-direction: column;
    // margin-left: 4rem;
    // flex-wrap: wrap;
  }

  &__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 2.3rem;
  }
}
