.project__intro {
  font-size: 1.3rem;
  margin: 5rem 3rem 3rem 3rem;
}

.cardDisplay {
  margin: 5rem 3rem 0rem 3rem;

}

.cards {
  margin: 5rem 0;

  &__list {
    display: flex;
    flex-direction: column;
    // margin-left: 4rem;
    // flex-wrap: wrap;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}
