.background {
  font-size: 30rem;
  font-family: 'Odachi';
  color: rgba(156, 146, 146, 0.3);
}

.Welcome {
  color: black;
  height: 100vh;


  // &span:nth-child(even) {
  //   font-size: 100px;
  // }
}


.introduction {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  &__main {
    font-size: 12rem;
    font-family: 'Odachi';
  }
}
