.experience {

  height: 100%;
  // width: 100%;
  padding: 0 2rem;

  &__title {
    margin: 0;
  }
}

.work {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-evenly;

  &__item {
    margin-top: 1.5rem;

    &--title {
      font-size: 1.5rem;
    }

    &--company {
      font-size: 1.3rem;

    }

    &--time {
      font-size: 1.3rem;

    }

    &--desc {
      font-size: 1.3rem;
      margin-top: 10px;
    }
  }
}