$cultured: rgba(248, 249, 250, 1);
$cultured-2: rgba(233, 236, 239, 1);
$gainsboro: rgba(222, 226, 230, 1);
$light-gray: rgba(206, 212, 218, 1);
$cadet-blue-crayola: rgba(173, 181, 189, 1);
$slate-gray: rgba(108, 117, 125, 1);
$davys-grey: rgba(73, 80, 87, 1);
$gunmetal: rgba(52, 58, 64, 1);
$charleston-green: rgba(33, 37, 41, 1);


