@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/about";
@import "components/button";
@import "components/card";
@import "components/details";
@import "components/links";
@import "components/more";
@import "components/skills";
@import "components/sidenav";
@import "components/course";
@import "components/contact";


@import "layout/footer";
@import "layout/projects";
@import "layout/welcome";
@import "layout/work";
@import "layout/courses";


html {
  scroll-behavior: smooth;
}